.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.logo-link{
    display: inline-block;
    color: #4bcaff;
    font-size: 80pt;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    padding: 18px 0;
}
span.logo-link{color: #000;}

.nav{background-color: #35444f;}

.nav-list{
    margin: 0 auto;
    width: 962px;
}
.nav-item{display: inline-block;}

.nav-link{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    color: #ffffff;
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px 20px;
}
.nav-link:hover{
    background-color: #222f3a;
    border-left: 1px #818181 solid;
    border-right: 1px #818181 solid;
}

.aside, .section {display: inline-block;}

.aside{
    display: inline-block;
    margin-top: 51px;
    border: 1px solid #35444f;
    vertical-align: top;
}
.aside-list{width: 344px;}

.aside-items{background-color: #ffffff;}

.aside-link {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 26pt;
    color: #485863;
    text-decoration: none;
    text-transform: capitalize;
    padding-left: 44px;
    padding-top: 23px;
    padding-bottom: 23px;
}
.aside-link:hover{
    background-color: #dbdbdb;
    padding-left: 69px;
}

.section {
    width: 880px;
    vertical-align: top;
    margin-top: 51px;
    margin-left: 49px;
}

.section-img {
    height: 529px;
    width: 880px;
    border: 1px solid #35444f;
    margin-bottom: 50px;
}

.img {
    display: block;
    margin: 74px auto 0;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
}

.img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.section-text{
    font-family: 'Roboto', sans-serif;
    font-size: 13pt;
    margin-bottom: 30px;
}

.footer-list{background-color: #b4b7ba;}

.footer-item{display: inline-block;}

.footer-link {
    display: block;
    font-size: 22pt;
    font-family: 'Roboto', sans-serif; ;
    color: #0c1927;
    text-decoration: none;
    text-transform: capitalize;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 25px;
}
/*.footer-list~.footer-item{*/
/*    padding-left: 100px;*/
/*    background-color: red;*/
/*}*/

.footer-link:hover{
    color: #3181a6;
    text-decoration: underline;
}

.footer-copyright{
    text-align: right;
    margin-left: 210px;
}